In [ ]:
import pandas as pd
import numpy as np

#数据导入
pd.read_csv('hancheng.csv')
pd.read_excel(filename)                 #从Excel文件导入数据
pd.read_clipboard()                     #从粘贴板获取内容
pd.DataFrame(dict)                      #从字典对象导入数据

#数据导出
df.to_csv(filename)                         #导出数据到CSV文件
df.to_excel(filename)                       #导出数据到Excel文件
df.to_sql(table_name, connection_object)    #导出数据到SQL表
df.to_json(filename)                        #以Json格式导出数据到文本文件

#创建对象
pd.DataFrame(np.arange().rand(20,5))          #创建20行5列的随机数组成的DataFrame对象
pd.Series(my_list)                          #从可迭代对象my_list创建一个Series对象
df.index = pd.date_range('1900/1/30', periods=df.shape[0])          #增加一个日期索引

#数据查看
df.head(n)                                      #查看DataFrame对象的前n行
df.tail(n)                                      #查看DataFrame对象的最后n行
df.shape()                                      #查看行数和列数
df.info()                                       #查看索引、数据类型和内存信息
df.describe()                                   #查看数值型列的汇总统计
s.value_counts(dropna=False)                    #查看Series对象的唯一值和计数
df.apply(pd.Series.value_counts)                #查看DataFrame对象中每一列的唯一值和计数

#数据清洗
df.columns = ['a','b','c']                      #重命名列名
pd.isnull()                                     #检查DataFrame对象中的空值，并返回一个Boolean数组
pd.notnull()                                    #检查DataFrame对象中的非空值，并返回一个Boolean数组
df.dropna()                                     #删除所有包含空值的行
df.fillna(x)                                    #用x替换DataFrame对象中所有的空值
s.astype(float)                                 #将Series中的数据类型更改为float类型
s.replace(1,'one')                              #用‘one’代替所有等于1的值
df.rename(columns=lambda x: x + 1)              #批量更改列名
df.set_index('column_one')                      #更改索引列

In [2]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(5,5),index=list('ABCDE'),columns=list('ABCDE'))
df1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>-0.583884</td>
      <td>-1.126446</td>
      <td>1.935374</td>
      <td>-2.056467</td>
      <td>-0.819430</td>
    </tr>
    <tr>
      <th>B</th>
      <td>-0.800870</td>
      <td>0.052965</td>
      <td>1.157471</td>
      <td>0.368148</td>
      <td>-0.023176</td>
    </tr>
    <tr>
      <th>C</th>
      <td>-1.322772</td>
      <td>1.007357</td>
      <td>0.041183</td>
      <td>1.393108</td>
      <td>0.401327</td>
    </tr>
    <tr>
      <th>D</th>
      <td>-0.727450</td>
      <td>-1.216302</td>
      <td>-0.321791</td>
      <td>-0.477014</td>
      <td>-2.221767</td>
    </tr>
    <tr>
      <th>E</th>
      <td>-0.281390</td>
      <td>0.445483</td>
      <td>0.812090</td>
      <td>-0.678794</td>
      <td>0.703361</td>
    </tr>
  </tbody>
</table>
</div>