In [1]:
import pandas as pd
import numpy as np
#from datetime import datetime as dt

df = pd.DataFrame(pd.read_csv('C:/Users/lenovo/Desktop/csj/hancheng.csv'))

#替换空值
#print(df.isnull().any())
#print(df[df.isnull().values == True])
df = df.fillna(-99)
df = df.replace('缺失',-99)

#datetime
df['生日'] = pd.to_datetime(df['生日'],format = '%Y.%m.%d') #将生日转换为标准格式
df['生日'] = df['生日'].dt.strftime('%Y-%m-%d') #去掉日期中的时、分、秒


date = df['生日'].str.split('-',3,True) 
date.columns = ['年','月','日'] #将日期分成三列
df = pd.concat([df,date],axis = 1) #横向拼接
df= df.drop('生日',axis = 1) #删除原来的生日属性列
#pd.to_datetime.dt.year('生日')


#df.apply(pd.to_numerics,errors = 'ignore')#数据类型转换
df['年'] = pd.DataFrame(df['年'],dtype = int)
df['月'] = pd.DataFrame(df['月'],dtype = int)
df['日'] = pd.DataFrame(df['日'],dtype = int)
df['年龄'] = pd.DataFrame(df['年龄'],dtype = int) 
df['裸右'] = pd.DataFrame(df['裸右'],dtype = float)
df['裸左'] = pd.DataFrame(df['裸左'],dtype = float)



strange_rows = df['这一个戴镜时间'].str.contains('>').fillna(False)
df = df.replace(strange_rows,1)
#print(df)
df.describe()
#print(df.dtypes())

,年龄,裸右,裸左,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,...,Unnamed: 236,Unnamed: 237,Unnamed: 238,Unnamed: 239,Unnamed: 240,Unnamed: 241,Unnamed: 242,年,月,日
count,1461.000000,1461.000000,1461.000000,1461.0,1461.0,1461.0,1461.0,1461.0,1461.0,1461.0,...,1461.0,1461.0,1461.0,1461.0,1461.0,1461.0,1461.000000,1461.000000,1461.000000,1461.000000
mean,15.446270,0.611834,0.624832,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-98.931554,1997.958932,7.164271,14.418891
std,12.360095,0.356555,0.351291,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.616224,9.267691,3.633235,10.404545
min,-99.000000,0.020000,0.020000,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.000000,1969.000000,1.000000,1.000000
25%,14.000000,0.250000,0.300000,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.000000,1998.000000,4.000000,4.000000
50%,17.000000,0.600000,0.600000,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.000000,2000.000000,7.000000,14.000000
75%,19.000000,1.000000,1.000000,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.000000,2003.000000,10.000000,24.000000
max,113.000000,1.200000,1.200000,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,1.000000,2007.000000,12.000000,31.000000